header h1 {
	cursor: pointer;
}

.results li { margin-bottom: 16px; }

.results {
	list-style-type: none;
	padding: 8px;
	overflow-y: auto;
	overflow-x: hidden;
	flex: 1;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	min-height: 0;
}

.search {
	display: flex;
	width: fit-content;
	align-items: center;
	gap: 8px;
	z-index: 1;
	transform: translate(0, 0) rotateY(0deg);
	transition: transform 0.5s ease-in-out;
}

.hero {
	flex-direction: column;
	align-items: center;
	width: 100%;
	text-align: center;
	transform: translateY(calc(50cqh - 8px));
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	text-wrap: nowrap;
	height: 0;
}

main:has(.results:empty) .search {
	transform: translate(
		/* 80px is the header height */
		calc(50cqw - 50%),
		calc(50cqh)
	);
}

main:has(.results:empty) .results {
	opacity: 0;
}

main:has(.results:empty) hr {
	/* Too lazy to do this with JS */
	display: none;
}

main:has(.results:empty) .hero {
	opacity: 1;
	text-wrap: wrap;
	overflow-x: clip;
	height: auto;
}

main:has(.results:empty) {
	padding: 8px;
}

.pagination {
	padding: 8px;
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: center;
}

.result-match { background: var(--primary-a0); }
.result-text { padding-left: 16px; }
.result-time { color: var(--text-small); }


/* Filters things */

.filters {
	flex-basis: 200px;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	overflow: visible;
	transition: flex-basis 0.5s ease-in-out;
}
.filters h2 {
	align-self: center;
}

.filter-seperator {
	margin: 1px 2px 10px 2px;
	background-color: var(--surface-a20);
	height: 1px;
	border: none;
	width: 100%;
}

.filter-section {
	padding: 5px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.filter-section h3 {
	align-self: center;
}

.keep-together {
	white-space: nowrap;
}

.filter-checkbox-container.no_results {
	color: var(--text-small)
}

/* Other general site styling */

@media (max-width: 700px) {
	.pageContainer {
		flex-direction: column;
	}

	.filters {
		align-items: center;
	}

	.filter-section {
		align-items: center;
	}
}

@media (max-height: 850px) and (max-width: 700px) {
	body {
		max-height: 100vh;
		overflow-y: visible;
		overflow-x: hidden;
	}

	.pageContainer {
		height: auto;
		overflow-y: visible;
	}

	main {
		overflow: visible;
	}

	.results {
		overflow-y: visible;
		overflow-x: visible;
		min-height: 0;
		flex: none;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--surface-a30);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
	background: var(--primary-a10);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--primary-a20);
}