:root {
	--primary-a0: #d93452;
	--primary-a10: #e15263;
	--primary-a20: #e86a75;
	--surface-a0: #121212;
	--surface-a05: #202020;
	--surface-a10: #282828;
	--surface-a20: #3f3f3f;
	--surface-a30: #887d7d;
	--text-color: white;
	--text-small: #aaa;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: system, sans-serif;
}

hr { 
	margin: 0.5em;
	background-color: var(--primary-a0);
	color: var(--primary-a0);
}
h1 {
	margin: 0.67em 0;
	color: var(--primary-a0);
}
h2 { color: var(--primary-a10); }
h3 { color: var(--primary-a20); }
h1, h2, h3 { line-height: 1.1; }
main { padding: 8px; }

header {
	padding: 0 8px;
	height: 80px;
	display: flex;
	align-items: center;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	background: var(--surface-a0);
	color: var(--text-color);
}

button {
	border: none;
	padding: 8px;
	border-radius: 8px;
	background: var(--primary-a10);
	cursor: pointer;
}
button:hover { background: var(--primary-a20) }

input[type=text] {
	padding: 8px;
	border: none;
	border-radius: 8px;
	background: var(--surface-a20);
	color: var(--text-color);
}

.pageContainer {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	flex: 1;
	min-height: 0;
	overflow: hidden;
}

menu {
	margin: 8px 5px;
	padding: 7px;
	background-color: color-mix(in srgb, var(--surface-a05) 50%, transparent);
	flex-basis: 175px;
}

main {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	height: 100%;
	min-height: 0;
	flex: 10;
}

@media (max-width: 700px) {
	.pageContainer {
		flex-direction: column;
	}
}