<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>InputStream</title>
		<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='theme.css') }}" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1 id="headerText" class="headerText">InputStream</h1>
		</header>
		
		<div class="pageContainer">
			<menu class="filters">
				<section class="filterSection">
					<h3>Lanugage</h3>
					<form id="langFilterForm" class="multiSelectCheckboxForm">
						<input type="checkbox" id="jaLang" name="langs" value="ja" class="multiSelectCheckbox">
						<label for="jaLang">Japanese</label>
						<br>
						<input type="checkbox" id="enLang" name="langs" value="en" class="multiSelectCheckbox">
						<label for="enLang">English</label>
					</form>
				</section>
			</menu>

			<main>
				<div class="hero">
					<h2>InputStream</h2>
					<p>InputStream is a powerful tool that searches through captions in all your favourite movies and videos.</p>
				</div>

				<form id="searchForm" class="search">
					<input type="text" id="searchQuery" name="q" placeholder="Search..."> 
					<button type="submit">Search</button>
				</form>

				<hr>

				<ol id="results" class="results"></ol>
				<div id="pagination" class="pagination"></div>
			</main>
		</div>
		
		<script src="{{ url_for('static', filename='script.js') }}"></script>
	</body>
</html>